
.sidebar{
  background-color: #121212;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: sticky;
  left: 0;
  top: 0;
  width: 30px;
  min-width: 30px;
  overflow: hidden;
  transition: .75s ease-in-out;
  z-index: 2;
  border-top-right-radius: 20px;
  /* text-align: center; */
}
.sidebar:hover{
  min-width: 200px;
  transition:0.75s ease;
  overflow: hidden;
}
body{
  display: flex;
  justify-content: space-between;
  /* background-color: brown; */
  width: 100%;
  height: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.one {
  
  height: 700px;
  width: 100%;
  color: #ff33ff;
  font-size: xx-large;
}
.name{
padding: 100px;
padding-top: 50px;
/* padding-top: 100px; */
width: 90%;
text-align: center;
justify-content: space-around;
}
.mypick{
  width:100%;
  background-color: #121212;
  
}

.contact h3{
  color: #ff33ff;
  margin-left: 25%;
}
.contact p{
color: #0033ff;
font-size: x-large;
width: 80%;
margin: 0;
}
.button{
  background-color: #ff33ff;
  border-radius: 12px;
  font-size: large;
  color: whitesmoke;
  text-decoration: none;
  padding: 10px;
}
.button:hover{
  background-color: lavender;
  border-color: #ff33ff;
  padding: 13px;
  transition: .75s;
  box-shadow: 0px 0px 7px 2px #ff33ff;
}
#Services{
  overflow-y: scroll;
  
  min-height: 700px;
}
#Services h3{
margin-left: 35%;
font-size: xx-large;
color: #ff33ff;
}
#Services p{
  font-size: x-large;
  margin-left: 15%;
  color: #0033ff;
  text-align: left;
}
.resentdtn{
  margin-top: 80px;
  font-size: x-large;
  color:rgb(92, 0, 128);
}
.resentProjects{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.resent{
  margin-left: 2%;
  flex: 1;
  justify-content: center;
  background: lavenderblush;
}
/* .resent:nth-child(:not(:hover)){
  filter: blur(3);
} */
.resent:hover{
  flex: 5;
  transition: .75s ease-in-out; 
  box-shadow: 7px 7px 37px 7px #ff33ff;
  
}
.sidebarItems{
  display: flex;
  border-left: 0px solid #16a085;
}
.sidebarItems:hover{
 background: rgba(0, 0, 0, 0.664);
 padding-top: 20px;
 padding-bottom: 20px;
 border-left: 20px solid silver;
}
.profile{
  position: relative;
  animation: myfirst 5s ;
  transition: .75s linear;
  animation-direction:normal;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

@keyframes myfirst {
  0%   {left: 0px;}
  25%  { margin-left: 30%;}
  50%  {margin-left: 50%;}
  75%  {margin-left: 30%; }
  100% { left: 0px; }
}
.profile p{
   margin-left: 30px;
   padding-top: 200px;
}
@media (max-width:1200px) {

.resentdtn{
  margin-top: 20px;
  font-size: x-large;
  overflow: hidden;
  color:rgb(92, 0, 128);
}
}
/* */ 
@media (max-width:800px) {
body{
  justify-content: space-between;
}
.name{
  display: block;
  width: 100%;
    height: 630px;;
    overflow-y: scroll;
}
.resent{
  width: 90px;
  height: 150px;
}
.resentProjects{
  width: 100%;
  overflow: scroll; 
}
.resent:hover{
  transition: .75s ease-in-out; 
  box-shadow: 7px 7px 37px 7px #ff33ff;
}
.resentdtn{
  margin-top: 20px;
  font-size: x-large;
  overflow: hidden;
  color:rgb(92, 0, 128);
}
 h3{
padding-top:  0;
  /* height: 100%; */
}
/* .mypick{
  width: 80%;
  transition: .75s;
}  */
/* .mypick:hover{
  width:100%;
  transition: .75s;
} */
}
@media (max-width:500px) {
#Services p{ 
  margin-left: 0%;
}
.profile{
    left: 0%;
    position: relative;
}
.name{
  width: 100%; 
}
.name{
padding: 0;
padding-top: 0;
/* padding-top: 100px; */
text-align: center;
justify-content: space-around;
}
.name p{
text-align: left;
padding-left: 30px;
}
.sidebar{
  height: 100%;
  width: 10px;
  position: fixed;
}
.sidebar:hover{
  width: 50%;
position: fixed;
  height: 100%; 
} 
#Services p{
  margin-left: 30px;
}
.servicescnt{
  height: 680px;
  overflow-y: scroll;
}
.resentProjects{
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  height: auto;
}
.resent{
  flex: 1;
}
.resent:hover{
  width: 300px;
}
}
::-webkit-scrollbar-corner{
  background: #12121200;
}
::-webkit-scrollbar{
 width: 8px;
 background-color:rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0, 0, 0);
  width: 4px;
}
